<h1>Benutzer bearbeiten</h1>
<ng-container *ngIf="notFound() || loadingError()">
  <h1>Der Benutzer wurde nicht gefunden!</h1>
</ng-container>
<ng-container *ngIf="loading()">
  Benutzer wird geladen...
</ng-container>
<ng-container *ngIf="!loading() && !notFound()  && !loadingError()">
  <nz-tabset>
    <nz-tab nzTitle="Allgemein">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Vorname</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="firstNameErrorTpl">
            <input nz-input formControlName="firstName" placeholder="Vorname"/>
            <ng-template #firstNameErrorTpl let-control>
              @if (control.errors?.['required']) {
                Bitte den Vornamen eingeben.
              }
              @if (control.errors?.['minlength']) {
                Bitte mindestens 1 Zeichen eingeben.
              }
              @if (control.errors?.['maxlength']) {
                Bitte maximal 40 Zeichen eingeben.
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>Nachname</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="lastNameErrorTpl">
            <input nz-input formControlName="lastName" placeholder="Nachname"/>
            <ng-template #lastNameErrorTpl let-control>
              @if (control.errors?.['required']) {
                Bitte den Nachnamen eingeben.
              }
              @if (control.errors?.['minlength']) {
                Bitte mindestens 1 Zeichen eingeben.
              }
              @if (control.errors?.['maxlength']) {
                Bitte maximal 40 Zeichen eingeben.
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>E-Mail</nz-form-label>
          <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
            <input nz-input formControlName="email" placeholder="E-Mail"/>
            <ng-template #emailErrorTpl let-control>
              @if (control.errors?.['required']) {
                Bitte eine E-Mail eingeben.
              }
              @if (control.errors?.['email']) {
                Bitte eine gültige E-Mail-Adresse eingeben.
              }
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSpan]="8" [nzOffset]="7">
            <label nz-checkbox formControlName="emailVerified">E-Mail bestätigt</label>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzSpan]="8" [nzOffset]="7">
            <label nz-checkbox formControlName="enabled">Benutzer aktiv</label>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary" [disabled]="!form.valid" [nzLoading]="updateLoading()">Speichern</button>
            <button nz-button nzType="primary" nzDanger type="button" [nzLoading]="deleteLoading()" nz-popconfirm
                    nzPopconfirmTitle="Bist du dir sicher?" (nzOnConfirm)="delete()">Löschen
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-tab>
    <nz-tab nzTitle="Gruppen">
      <nz-transfer
        [nzDataSource]="groups()"
        [nzDisabled]="groupsTransferLoading()"
        [nzShowSearch]="true"
        [nzShowSelectAll]="true"
        [nzRenderList]="[renderList, renderList]"
        (nzChange)="changeGroups($event)"
      >
        <ng-template
          #renderList
          let-items
          let-direction="direction"
          let-stat="stat"
          let-disabled="disabled"
          let-onItemSelectAll="onItemSelectAll"
          let-onItemSelect="onItemSelect"
        >
          <nz-table #t [nzData]="$asTransferItems(items)" nzSize="small">
            <thead>
            <tr>
              <th
                [nzDisabled]="disabled"
                [nzChecked]="stat.checkAll"
                [nzIndeterminate]="stat.checkHalf"
                (nzCheckedChange)="onItemSelectAll($event)"
              ></th>
              <th>Gruppe</th>
            </tr>
            </thead>
            <tbody>
              @for (data of t.data; track data) {
                <tr (click)="onItemSelect(data)">
                  <td
                    [nzChecked]="!!data.checked"
                    [nzDisabled]="disabled || data.disabled"
                    (nzCheckedChange)="onItemSelect(data)"
                  ></td>
                  <td>{{ data.title }}</td>
                </tr>
              }
            </tbody>
          </nz-table>
        </ng-template>
      </nz-transfer>
    </nz-tab>
  </nz-tabset>
</ng-container>
