<nz-table nzShowSizeChanger
          [nzData]="service.entities()"
          [nzFrontPagination]="false"
          [nzLoading]="service.entitiesLoading()"
          [nzTotal]="service.total()"
          [nzPageSize]="service.itemsPerPage"
          [nzPageIndex]="service.page"
          (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
  <tr>
    <th nzColumnKey="name" [nzSortFn]="true">Name</th>
    <th *ofsHasRole="['consumable-group.manage']"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let entity of service.entities()">
    <td>{{ entity.name }}</td>
    <td *ofsHasRole="['consumable-group.manage']">
      <a nz-button nzType="link" [routerLink]="entity.id.toString()">Details</a>
    </td>
  </tr>
  </tbody>
</nz-table>
