<h1>Verbrauchsmaterial-Gruppen</h1>
<div nz-row nzJustify="space-between">
  <div nz-col>
    <button nz-button nzType="primary" routerLink="create" *ofsHasRole="['consumable-group.manage']">
      Verbrauchsmaterial-Gruppe anlegen
    </button>
  </div>
  <div nz-col>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" (input)="search($event)" nz-input placeholder="Suchen"/>
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <nz-icon nzType="search"/>
    </ng-template>
  </div>
</div>
<ofs-consumable-group-list></ofs-consumable-group-list>
